.cart-page {
    padding-bottom: 80px
}

.cart-page__container {}

.container {}

.cart-page__header {
    text-align: left;
    font-family: 'Bree Serif';
    font-weight: 500;
    margin: 60px 0 40px;
}

.cart-page__title {
    display: flex;
    border: 1px solid #BCBBBB;
    padding: 10px 10px;
    margin-bottom: 10px;
}

.cart-page__title li {
    flex-basis: 25%;
    font-size: 17px;
    font-weight: 600;
}

.cart-page__item {}

.item-cart {
    display: flex;
    align-items: center;
    background: #f8f8f8;
    border-bottom: 1px solid #181b2a;
    margin-bottom: 20px;
    padding: 15px 35px 15px;
    position: relative;
}

.item-cart:not(:last-child) {
    margin-bottom: 20px;
}

.item-cart::before {
    position: absolute;
    content: "";
    top: 5px;
    right: 5px;
    width: 28px;
    height: 28px;
    background-image: url("../icons/close.png");
    cursor: pointer;
}

.cart-page__column {
    flex-basis: 25%;
}

.item-cart__description {
    font-size: 19px;
    font-weight: 500;
}

.item-cart-price {
    font-size: 19px;
    font-weight: 500;
}

.item-cart__delivery-info:first-child {
    font-size: 15px;
    margin-bottom: 5px;
}

.item-cart__delivery-info:last-child {
    font-size: 12px;
    color: #999;
}

@media(max-width:767px) {
    .item-cart {
        padding: 0 25px 0 0;
        column-gap: 5px;
    }
    .item-cart::before {
        width: 20px;
        height: 20px;
        background-size: cover;
    }
    .item-cart__description {
        font-size: 16px;
    }
    .item-cart-price {
        font-size: 16px;
    }
    .cart-page__title li {
        font-size: 15px;
    }
    .cart-page__title {
        padding: 10px 10px;
        margin: 0 -15px 10px;
    }
}