.categories-page {
    padding-top: 80px;
}

.categories-page__container {
    display: flex;
    column-gap: 30px;
    align-items: flex-start;
}

.container {}

.categories-page__products {
    padding-bottom: 80px;
    position: relative;
    flex-basis: 75%;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: space-between;
}

.categories-page__products::before {
    display: none;
}

.products {}

.products__item {}

.item-products {
    flex-basis: 30%;
    flex-grow: 1;
}

.item-products__image {}

.item-products__description {}

.item-link {}

.item-products__price {}

.item-products__cart-icon {}

.item-products__price-number {}

.categories-page__categories {
    flex-grow: 1;
}

.categories {}

.categories__categories {}

.categories__title {}

.categories__body {}

.categories__check {}

.categories__brand {}

.categories__color {}

.categories__list {}

.categories__item {}

.categories__discount {}

.categories__radio {}

@media(max-width:1023px) {
    .categories-page__container {}
    .container {}
    .categories-page__products {}
    .categories-page__products {
        flex-basis: 65%;
    }
    .products {}
    .products__item {}
    .item-products {
        flex-basis: 45%;
        flex-grow: 1;
    }
}

@media(max-width:767px) {
    .categories-page__products {
        justify-content: center;
        flex-basis: 55%;
    }
    .item-products {
        flex-basis: 75%;
        flex-grow: 0;
    }
}

@media(max-width:648px) {
    .categories-page__container {
        flex-direction: column;
        align-items: stretch;
        row-gap: 40px;
    }
    .categories-page__container>:first-child {
        order: 2;
    }
    .categories-page__container>:last-child {
        order: 1;
    }
    .categories__item {
        width: 10%;
        padding-bottom: 10%;
    }
}