    .product-page {
        padding: 100px 0;
    }
    
    .product-page__container {
        display: flex;
        column-gap: 30px;
    }
    
    .container {}
    
    .product-page__item {
        flex-basis: 75%;
        display: flex;
        flex-wrap: wrap;
    }
    
    .product-page__gallery {}
    
    .gallery {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        max-width: 305px;
    }
    
    .gallery__selected-img {
        border: 1px solid #D1CFCF;
    }
    
    .gallery__selected-img img {
        width: 100%;
    }
    
    .gallery__images {
        display: flex;
        justify-content: space-between;
    }
    
    .gallery__images img {
        width: 32%;
        border: 1px solid #D1CFCF;
    }
    
    .product-page__info {
        flex-basis: calc(100% - 320px);
        padding: 0 15px 0 35px;
    }
    
    .product-page__title {
        font-size: 30px;
        font-family: 'Bree Serif';
        margin-bottom: 18px;
        font-weight: 400;
    }
    
    .product-page__rating {
        display: flex;
        column-gap: 5px;
        margin-bottom: 17px;
    }
    
    .product-page__price {
        font-size: 32px;
        border-bottom: 1px solid #E6E6E6;
    }
    
    .product-page__text {
        margin-top: 15px;
        font-size: 15px;
        color: #000;
        line-height: 1.8em;
    }
    
    .product-page__form {
        padding: 15px 0;
    }
    
    .product-page__color,
    .product-page__size {
        display: flex;
        justify-content: space-between;
        column-gap: 50px;
        align-items: center;
    }
    
    .product-page__size {
        margin-top: 25px;
    }
    
    .product-page__size select {
        display: flex;
        width: 100%;
        outline: none;
        padding: 12px 30px 12px 12px;
        border: none;
        background: #eeeeee;
        cursor: pointer;
        appearance: none;
    }
    
    .product-page__color select {
        display: flex;
        width: 100%;
        outline: none;
        padding: 12px 30px 12px 12px;
        border: none;
        background: #eeeeee;
        cursor: pointer;
        appearance: none;
    }
    
    .select-wrapper {
        position: relative;
        flex-basis: 70%;
    }
    
    .select-wrapper::before {
        position: absolute;
        content: "";
        background-image: url("../icons/arrow-down.svg");
        background-size: cover;
        width: 15px;
        height: 8px;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
    }
    
    .product-page__btn {
        color: #fff;
        background: #000;
        padding: 10px 15px;
        font-size: 16px;
        text-transform: uppercase;
        display: inline-block;
        border: none;
        margin-top: 52px;
        transition: 0.5s;
        cursor: pointer;
    }
    
    .product-page__btn:hover {
        background: #73b6e1;
    }
    
    .product-page__tags {}
    
    .product-page__description {
        padding: 40px 0 0;
    }
    
    .product-page__description h3 {
        background-color: #000;
        color: #fff;
        padding: 10px 15px;
        font-weight: 500;
        margin-bottom: 15px;
    }
    
    .product-page__description p {
        padding: 15px;
    }
    
    .product-page__categories {
        flex-grow: 1;
    }
    /* ------------------CATEGORIES-------------------------------------- */
    
    .categories {
        border: 1px solid #EBEBEB;
    }
    
    .categories__categories {}
    
    .categories__title {
        background: #ECECEC;
        padding: 15px 20px;
        color: #000;
        text-transform: uppercase;
        font-size: 16px;
        font-family: 'Lora-Regular';
        font-weight: 400;
    }
    
    .categories__body {
        outline: none;
        padding: 20px;
        overflow: auto;
        height: 165px;
    }
    
    .categories__check {
        display: block;
        outline: none;
        font-size: 15px;
        line-height: 27px;
        color: #555555;
        cursor: pointer;
        text-transform: capitalize;
        font-weight: normal;
        padding-left: 25px;
        position: relative;
    }
    
    .categories__check:not(:last-child) {
        margin-bottom: 5px;
    }
    
    .categories__check input {
        appearance: none;
    }
    
    .categories__check span {
        position: absolute;
        content: "";
        top: 50%;
        left: 0;
        display: block;
        width: 17px;
        height: 17px;
        outline: none;
        border: 2px solid #e5e5e5;
        background: #fff;
        transform: translateY(-50%);
        transition: border 0.3s;
    }
    
    .categories__check:hover span {
        border: 2px solid #73B6E1;
    }
    
    .categories__check input:checked+span {
        background-image: url("../icons/tick.png");
        background-position: center;
        background-repeat: no-repeat;
        border-color: #73B6E1;
    }
    
    .categories__color {}
    
    .categories__title {}
    
    .categories__body {}
    
    .categories__list {
        display: flex;
        gap: 5px;
        flex-wrap: wrap;
    }
    
    .categories__item {
        position: relative;
        width: 14%;
        padding-bottom: 14%;
        cursor: pointer;
    }
    
    .categories__item span {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    
    .categories__item:nth-child(1) span {
        background-color: #0AA5E2;
    }
    
    .categories__item:nth-child(2) span {
        background: #40E0D0;
    }
    
    .categories__item:nth-child(3) span {
        background: #B03060;
    }
    
    .categories__item:nth-child(4) span {
        background-color: #000080;
    }
    
    .categories__item:nth-child(5) span {
        background: #E60D41;
    }
    
    .categories__item:nth-child(6) span {
        background-color: #45BF55;
    }
    
    .categories__item:nth-child(7) span {
        background: #FF7F00;
    }
    
    .categories__item:nth-child(8) span {
        background-color: #8B4513;
    }
    
    .categories__item:nth-child(9) span {
        background: #FFD700;
    }
    
    .categories__item:nth-child(10) span {
        background-color: #9FA8AB;
    }
    
    .categories__item:nth-child(11) span {
        background-color: #0AA5E2;
    }
    
    .categories__item:nth-child(12) span {
        background: #FFCBDB;
    }
    
    .categories__item:nth-child(13) span {
        background: #B87333;
    }
    
    .categories__item:nth-child(14) span {
        background: #BFB540;
    }
    
    .categories__item:nth-child(15) span {
        background: #E60D41;
    }
    
    .categories__item:nth-child(16) span {
        background: #45BF55;
    }
    
    .categories__item:nth-child(17) span {
        background: #FF7F00;
    }
    
    .categories__item:nth-child(18) span {
        background: #8B4513;
    }
    
    .categories__item:nth-child(19) span {
        background: #FFD700;
    }
    
    .categories__item:nth-child(20) span {
        background: #9FA8AB;
    }
    
    .categories__discount {}
    
    .categories__title {}
    
    .categories__radio {
        display: block;
        position: relative;
        padding-left: 25px;
        cursor: pointer;
        outline: none;
        font-size: 15px;
        line-height: 27px;
        color: #555555;
    }
    
    .categories__radio:not(:last-child) {
        margin-bottom: 10px;
    }
    
    .categories__radio input {
        appearance: none;
    }
    
    .categories__radio span {
        position: absolute;
        display: block;
        width: 18px;
        height: 18px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 50%;
        border: 2px solid #e5e5e5;
        background: #fff;
        transition: border 0.3s;
    }
    
    .categories__radio:hover span {
        border-color: #73B6E1;
    }
    
    .categories__radio input:checked+span {
        border-color: #73B6E1;
    }
    
    .categories__radio input:checked+span::before {
        position: absolute;
        content: "";
        width: 5px;
        height: 5px;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        background-color: #73B6E1;
        border-radius: 50%;
    }
    
    @media(max-width:1023px) {
        .product-page__container {}
        .product-page__categories {
            display: none;
        }
        .product-page__item {
            flex-grow: 1;
        }
    }
    
    @media(max-width:767px) {
        .product-page__container {}
        .product-page__item {
            justify-content: center;
            row-gap: 30px;
        }
        .product-page__item>* {
            flex-basis: 100%;
        }
        .product-page__info {
            /* text-align: center; */
        }
        .product-page {
            position: relative;
        }
        .product-page__title {
            position: absolute;
            top: 25px;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            text-align: center;
        }
        .product-page__info {
            padding: 0;
        }
    }